@keyframes animacion1 {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(100vw);
    }
}

@keyframes animacion2 {
    from {
        transform: translate(-100vw);
    }

    to {
        transform: translate(0vw);
    }
}

@keyframes animacion3 {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg);
    }
}

.anima1 {
    z-index: 1;

    animation: animacion1 30s infinite linear;

}

.anima2 {
    animation: animacion2 30s infinite linear;


}

.anima3 {
    animation: animacion3 2s;
}