@keyframes traslacion {
    0% {

        transform: translate(0vw);

    }


    7.14% {
        transform: translate(16.6VW);
    }

    14.28% {
        transform: translate(33.2vw);
    }

    21.43% {
        transform: translate(49.8vw);
    }

    28.57% {
        transform: translate(66.4vw);
    }

    35.71% {
        transform: translate(83vw);
    }

    42.86% {
        transform: translate(100vw);

    }

    50% {
        transform: translate(-100vw);
        ;

    }

    57.14% {
        transform: translate(-83vw);

    }



    64.26% {
        transform: translate(-66.4vw);
    }

    71.43% {
        transform: translate(-49.8vw);
    }

    78.57% {
        transform: translate(-33.2vw);
    }


    85.71% {
        transform: translate(-16.6VW);
    }

    92.86% {

        transform: translate(0vw);

    }

}


.anima1 {
    animation-name: traslacion;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes traslacion2 {
    0% {

        transform: translate(-100vw);

    }


    7.14% {
        transform: translate(-83VW);
    }

    14.28% {
        transform: translate(-66.4vw);
    }

    21.43% {
        transform: translate(-49.8vw);
    }

    28.57% {
        transform: translate(-33.2vw);
    }

    35.71% {
        transform: translate(-16.6vw);
    }

    42.86% {
        transform: translate(0vw);

    }

    50% {
        transform: translate(16.6vw);
        ;

    }

    57.14% {
        transform: translate(33.2vw);

    }



    64.26% {
        transform: translate(49.8vw);
    }

    71.43% {
        transform: translate(66.4vw);
    }

    78.57% {
        transform: translate(83vw);
    }


    85.71% {
        transform: translate(100vw);
    }

    92.86% {

        transform: translate(-100vw);

    }

}

.anima2 {
    animation-name: traslacion2;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}