* {
    box-sizing: content-box;
}

body {
    margin: 0;

}

img {
    max-width: 100%;
}



.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(21, 12, 27);
    color: grey;
    padding-left: 1em;
    padding-right: 1em;
}

.navbar1 ul {
    list-style: none;
    display: flex;

}

.navbar1 li {
    padding-left: 1em;
}

.navbar1 li:hover {
    color: rgb(119, 119, 240);
}

.navbar2 {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    border-bottom: grey solid;
    padding: 2px;
    margin: auto;
}

.navbar2 ul {

    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar2 a {
    text-decoration: none;
    color: white;
}

.navbar2 li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 1em 0 1em;
    height: 100%;




}

.navbar2 li:hover {
    border-bottom: solid rgb(21, 12, 27);
}

.footer {
    background-color: rgb(21, 12, 27);
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relative {
    position: relative;
    ;
}

.abs {
    position: absolute;
    top: 0;


}




.filaflex {
    display: flex;

    max-width: 100%;
    ;

    margin: 0 2em 0px 2em;

}

.columnas-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 16.6%;
    /*border: 1px solid;*/
    padding: 2em;
    opacity: 0.7;
    filter: grayscale();
    ;



}

.columnas-2:hover {
    filter: none;
    opacity: 1;


}